{% block template_recipients_widget %}
    <div id="accordion_{{ form.vars.id }}" class="panel-group">
        {% for key,child in form %}
            {% set recipientType = child.vars.recipientType %}
            {% if recipientType.formTemplate is defined and recipientType.formTemplate is not empty %}
                {% set template = recipientType.formTemplate %}
            {% else %}
                {% set template = '@HgabkaEmail/Admin/recipient_type_form.html.twig' %}
            {% endif %}

            {% include template %}
        {% endfor %}
    </div>
    <div class="no-recipient no-recipient_{{ form.vars.id }}">
        <p>{{ 'hg_email.title.no_recipient'|trans }}</p>
    </div>
    {% if form.vars.add_button %}
        <div class="add-recipient add-recipient_{{ form.vars.id }}">
            <a href="#" class="btn btn-link recipient-add">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                {{ 'hg_email.recipient_type.add'|trans }}
            </a>
            <div class="recipient-selector">
                <div class="form-group">
                    <label class="control-label" for="recipient_type">
                        {{ 'hg_email.label.choose_recipient_type'|trans }}
                    </label>
                    {% if form.vars.dataType == 'message' %}
                        {{ render_message_recipient_selector(form.vars.id) }}
                    {% else %}
                        {{ render_template_recipient_selector(form.vars.id) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <a href="#" id="add_recipient_submit_{{ form.vars.id }}" class="btn btn-success">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        {{ 'hg_email.label.add_recipient'|trans }}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <script>
        $(function () {
            var $accordion = $('#accordion_{{ form.vars.id }}');
            var $panel = $('#accordion_{{ form.vars.id }} .panel');
            var $noRecipient = $('.no-recipient_{{ form.vars.id }}');
            var $addRecipient = $('.add-recipient_{{ form.vars.id }}');
            var $selector = $('.add-recipient_{{ form.vars.id }} .recipient-selector');
            var $recipientAdd = $('.add-recipient_{{ form.vars.id }} .recipient-add');
            var $rectypeSelect = $('#rectype-select_{{ form.vars.id }}');

            if ($panel.length === 0) {
                $noRecipient.show();
            } else {
                $noRecipient.hide();
            }
            $accordion.on('click', '.recipient-remove', function (e) {
                e.preventDefault();
                $(this).parents('.panel').remove();
                if ($('#accordion_{{ form.vars.id }} .panel').length === 0) {
                    $noRecipient.show();
                } else {
                    $noRecipient.hide();
                }

                if (typeof renderUsableVars !== 'undefined') {
                    renderUsableVars();
                }
            });
            {% if form.vars.add_button %}
                $addRecipient.on('click', '.recipient-add', function (e) {
                    e.preventDefault();
                    $selector.show();
                    $recipientAdd.hide();
                });

                $('#add_recipient_submit_{{ form.vars.id }}').click(function (e) {
                    e.preventDefault();
                    if ($('#rectype-select_{{ form.vars.id }}').val().length > 0) {
                        $.getJSON('{{ form.vars.admin.generateUrl('add_recipient', {fieldType: form.vars.recipientsType}) }}',
                                  {type: $rectypeSelect.val(), name: '{{ form.parent.vars.name }}', id: '{{ form.vars.admin.subject.id }}'}, function (data) {
                                $accordion.append(data.html);
                                $selector.hide();
                                $noRecipient.hide();
                                $recipientAdd.show();
                                $rectypeSelect.val('');
                                Admin.shared_setup($accordion);
                                if (typeof renderUsableVars !== 'undefined') {
                                    renderUsableVars();
                                }
                            });
                    }
                });
            {% endif %}
        });
    </script>
{% endblock %}

{% block message_recipients_widget %}
    {{ block('template_recipients_widget') }}
{% endblock %}
