{% block recipients_widget %}
    <div id="accordion_{{ form.vars.id }}" class="panel-group">
        {% for key,child in form %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse_{{ key }}">
                            {{ child.vars.blockTitle|trans }}
                        </a>
                        {% if child.vars.removable %}
                            <a href="#" class="recipient-remove"><i class="fa fa-times" aria-hidden="true"></i></a>
                        {% endif %}
                    </h4>
                </div>
                <div id="collapse_{{ key }}" class="panel-collapse collapse{% if not child.vars.valid %} in{% endif %}">
                    <div class="panel-body">
                        {{ form_widget(child) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="no-recipient no-recipient_{{ form.vars.id }}">
        <p>{{ 'hg_email.title.no_recipient'|trans }}</p>
    </div>
    {% if form.vars.add_button %}
        <div class="add-recipient add-recipient_{{ form.vars.id }}">
            <a href="#" class="btn btn-link recipient-add">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                Címzettek hozzáadása
            </a>
            <div class="recipient-selector">
                <div class="form-group">
                    <label class="control-label" for="recipient_type">
                        {{ 'hg_email.label.choose_recipient_type'|trans }}
                    </label>
                    {{ render_recipient_selector(form.vars.id) }}
                </div>
                <div class="form-group">
                    <a href="#" id="add_recipient_submit_{{ form.vars.id }}" class="btn btn-success">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        {{ 'hg_email.label.add_recipient'|trans }}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    <script>
        $(function () {
            $('#accordion_{{ form.vars.id }}').on('click', '.recipient-remove', function (e) {
                e.preventDefault();
                $(this).parents('.panel').remove();
                if ($('#accordion_{{ form.vars.id }} .panel').length === 0) {
                    $('.no-recipient_{{ form.vars.id }}').show();
                } else {
                    $('.no-recipient .no-recipient_{{ form.vars.id }}').hide();
                }
            });
            {% if form.vars.add_button %}
                $('.add-recipient_{{ form.vars.id }}').on('click', '.recipient-add', function (e) {
                    e.preventDefault();
                    $('.add-recipient_{{ form.vars.id }} .recipient-selector').show();
                    $('.add-recipient_{{ form.vars.id }} .recipient-add').hide();
                });

                $('#add_recipient_submit_{{ form.vars.id }}').click(function (e) {
                    e.preventDefault();
                    if ($('#rectype-select_{{ form.vars.id }}').val().length > 0) {
                        $.getJSON('{{ form.vars.admin.generateObjectUrl('add_recipient', form.vars.admin.subject) }}',
                                  {type: $('#rectype-select_{{ form.vars.id }}').val(), name: '{{ form.parent.vars.name }}'}, function (data) {
                                $('#accordion_{{ form.vars.id }}').append(data.html);
                                $('.add-recipient_{{ form.vars.id }} .recipient-selector').hide();
                                $('.no-recipient_{{ form.vars.id }}').hide();
                                $('.add-recipient_{{ form.vars.id }} .recipient-add').show();
                                $('#rectype-select_{{ form.vars.id }}').val('');
                            });
                    }
                });
            {% endif %}
        });
    </script>
{% endblock %}
